@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

header {
    position: fixed;
    color: aliceblue;
    width: 100%;
    background-color: blueviolet;
    top: 0;
    left: 0;
}

header h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
}

main {
    margin-top: 20px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.newPost{
    margin-top: 100px;
    background: linear-gradient(135deg, #7a1fe0, #9b4df1);
    color: white;
    border: none;
    padding: 14px 24px;
    font-size: 18px;
    font-weight: 600px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: 0.3 ease;
    font-family: 'Poppins', sans-serif;
}

.newPost::before {
    content: "+";
    font-size: 18px;
    font-weight: bold;
}

.newPost:hover {
    background: linear-gradient(135deg, #9b4df1, #b27aff);
}

#posts {
    width: 80%;
    max-width: 430px;
    margin-top: 50px;
}

.post-card {
    background: #bfd3e0;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.flag-nao-publicado {
    background: #ff6961;
    color: white;
    padding: 4px 10px;
    border-radius: 6px;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 10px;
    display: inline-block;
}
